<legend>Start a New Chat</legend>
<form method="POST" action="/chats">
  <label for="response">Response</label><br>
  <input type="text" name="response" />
   <button type="submit">Send</button>
</form>
